
testPytorch/data/MNIST/raw/t10k-images-idx3-ubyte
testPytorch/data/MNIST/raw/t10k-images-idx3-ubyte.gz
testPytorch/data/MNIST/raw/t10k-labels-idx1-ubyte
testPytorch/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
testPytorch/data/MNIST/raw/train-images-idx3-ubyte
testPytorch/data/MNIST/raw/train-images-idx3-ubyte.gz
testPytorch/data/MNIST/raw/train-labels-idx1-ubyte
testPytorch/data/MNIST/raw/train-labels-idx1-ubyte.gz
testPytorch/.DS_Store
testPytorch/data/.DS_Store
*.pt
testPytorch/benchmark_training_profiler.json
